<!DOCTYPE html>
<html>
  <head>
    <title>Thefirstrails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <a href="/">ホーム</a>
    <br>
    <% if @signed_in %>
      こんにちは <a href="/users/show"><%= @user.name%></a>
      <br>
      <%= link_to "サインアウト", destroy_user_session_path, :data => { :no_turbolink => true } %>
    <% else %>
    <%= link_to "サインイン", new_user_session_path, :data => { :no_turbolink => true } %>
    &nbsp;
    <%= link_to "登録ユーザー", new_user_registration_path, :data => { :no_turbolink => true } %>
    <% end %>
    <hr>
    <br>
    <%= yield %>
  </body>
</html>
